NX31 - DataProject

"Intorduction"

"pakker importeret"

In [1]:
%load_ext autoreload
%autoreload 2
# You can load your python module as this:
import dataproject.example


import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pydst

"What data we have chosen"

In [2]:
dst = pydst.Dst(lang='en')

FTEG_variables = dst.get_variables(table_id = 'OBESK2')
FTEG_variables

,elimination,id,text,time,values
0,True,SEKTOR,sector,False,"[{'id': '1032', 'text': 'General government'},..."
1,False,Tid,time,True,"[{'id': '2008K1', 'text': '2008Q1'}, {'id': '2..."

"Dictornaries"

In [3]:
columns_dict = {}
columns_dict['SEKTOR'] = 'Sector'
columns_dict['TID'] = 'Quater'
columns_dict['INDHOLD'] = 'FTE'

var_dict = {}
var_dict['Central government'] = 'Central'
var_dict['Regional government'] = 'Regional'
var_dict['Municipal government'] = 'Municipal'
var_dict['Social security funds'] = 'Social security funds'
var_dict['General government'] = 'Genreal'

"import data"

In [4]:
FTEG_raw = dst.get_data(table_id = 'OBESK2', variables = {'SEKTOR':['*'], 'Tid':['*']})
FTEG_raw

                    SEKTOR     TID  INDHOLD
0       Central government  2008Q1   164276
1      Regional government  2008Q1   111410
2     Municipal government  2008Q1   431690
3    Social security funds  2008Q1     1921
4       General government  2008Q1   709297
5       Central government  2008Q2   167654
6      Regional government  2008Q2   107305
7     Municipal government  2008Q2   438649
8    Social security funds  2008Q2     1913
9       General government  2008Q2   715521
10      Central government  2008Q3   166319
11     Regional government  2008Q3   111262
12    Municipal government  2008Q3   433840
13   Social security funds  2008Q3     1849
14      General government  2008Q3   713270
15      Central government  2008Q4   170749
16     Regional government  2008Q4   114385
17    Municipal government  2008Q4   441479
18   Social security funds  2008Q4     1843
19      General government  2008Q4   728455
20      Central government  2009Q1   169315
21     Regional government  2009Q1   114244
22    Municipal government  2009Q1   442231
23   Social security funds  2009Q1     1843
24      General government  2009Q1   727633
25      Central government  2009Q2   172790
26     Regional government  2009Q2   116310
27    Municipal government  2009Q2   449778
28   Social security funds  2009Q2     1873
29      General government  2009Q2   740750
..                     ...     ...      ...
190     Central government  2017Q3   170891
191    Regional government  2017Q3   120680
192   Municipal government  2017Q3   413069
193  Social security funds  2017Q3     2133
194     General government  2017Q3   706772
195     Central government  2017Q4   174858
196    Regional government  2017Q4   122029
197   Municipal government  2017Q4   417487
198  Social security funds  2017Q4     2125
199     General government  2017Q4   716499
200     Central government  2018Q1   172627
201    Regional government  2018Q1   121391
202   Municipal government  2018Q1   416265
203  Social security funds  2018Q1     2116
204     General government  2018Q1   712398
205     Central government  2018Q2   175991
206    Regional government  2018Q2   122494
207   Municipal government  2018Q2   421985
208  Social security funds  2018Q2     2143
209     General government  2018Q2   722612
210     Central government  2018Q3   173527
211    Regional government  2018Q3   120613
212   Municipal government  2018Q3   416102
213  Social security funds  2018Q3     2101
214     General government  2018Q3   712343
215     Central government  2018Q4   177641
216    Regional government  2018Q4   122103
217   Municipal government  2018Q4   419656
218  Social security funds  2018Q4     2089
219     General government  2018Q4   721488

[220 rows x 3 columns]

"renamer and raplace

In [10]:
FTEG_raw.rename(columns = columns_dict, inplace = True)

for key, value in var_dict.items():
    FTEG_raw.Sector.replace(key, value, inplace = True)

FTEG_raw

                        FTE                                                    \
                      count           mean           std       min        25%
Sector
Central                44.0  173199.977273   2665.832350  164276.0  172505.00
Genreal                44.0  724141.159091  10917.445550  706772.0  716269.75
Municipal              44.0  430653.113636  12017.772657  413069.0  420759.25
Regional               44.0  118347.772727   3491.849366  107305.0  116019.00
Social security funds  44.0    1940.386364     96.370462    1843.0    1876.00


                            50%        75%       max
Sector
Central                173527.5  174949.50  177641.0
Genreal                722094.5  728439.25  751954.0
Municipal              428491.5  439356.50  457033.0
Regional               119047.0  121126.25  122494.0
Social security funds    1902.0    1987.75    2147.0

"transponere and copies"

In [11]:
FTEG = FTEG_raw.copy().pivot(index = 'Quater', columns = 'Sector', values = 'FTE')
FTEG

Sector  Central  Genreal  Municipal  Regional  Social security funds
Quater
2008Q1   164276   709297     431690    111410                   1921
2008Q2   167654   715521     438649    107305                   1913
2008Q3   166319   713270     433840    111262                   1849
2008Q4   170749   728455     441479    114385                   1843
2009Q1   169315   727633     442231    114244                   1843
2009Q2   172790   740750     449778    116310                   1873
2009Q3   170775   734423     445803    115956                   1889
2009Q4   173914   744787     450609    118369                   1896
2010Q1   172563   742748     450873    117452                   1860
2010Q2   175288   751954     457033    117755                   1877
2010Q3   173786   739906     448200    116040                   1879
2010Q4   176796   743399     447725    116999                   1879
2011Q1   174057   736116     444669    115502                   1887
2011Q2   175224   740515     447209    116175                   1907
2011Q3   173258   727348     437156    115057                   1878
2011Q4   175750   730125     436629    115845                   1900
2012Q1   173022   723692     433738    115021                   1910
2012Q2   174022   727860     435544    116355                   1940
2012Q3   172301   717030     427443    115380                   1906
2012Q4   176218   725290     429944    117235                   1893
2013Q1   173382   720565     427767    117528                   1888
2013Q2   175367   717244     420777    119193                   1907
2013Q3   173633   721117     426715    118901                   1867
2013Q4   176244   728434     429565    120775                   1850
2014Q1   173017   722568     427189    120498                   1863
2014Q2   173741   728075     430683    121780                   1872
2014Q3   170863   716431     423210    120489                   1869
2014Q4   174209   723636     425502    122069                   1857
2015Q1   172636   720621     424908    121196                   1881
2015Q2   174643   727977     429216    122214                   1904
2015Q3   172652   715479     420706    120201                   1920
2015Q4   176127   721621     422696    120854                   1944
2016Q1   173147   714135     418437    120569                   1982
2016Q2   175460   721270     421930    121874                   2005
2016Q3   172331   708744     414095    120307                   2011
2016Q4   174822   715786     416909    121997                   2058
2017Q1   171385   709073     414483    121103                   2102
2017Q2   173528   717204     419143    122387                   2147
2017Q3   170891   706772     413069    120680                   2133
2017Q4   174858   716499     417487    122029                   2125
2018Q1   172627   712398     416265    121391                   2116
2018Q2   175991   722612     421985    122494                   2143
2018Q3   173527   712343     416102    120613                   2101
2018Q4   177641   721488     419656    122103                   2089

"Descirbetive statistics"

In [13]:
FTEG_raw.groupby(['Sector']).describe()

                        FTE                                                    \
                      count           mean           std       min        25%
Sector
Central                44.0  173199.977273   2665.832350  164276.0  172505.00
Genreal                44.0  724141.159091  10917.445550  706772.0  716269.75
Municipal              44.0  430653.113636  12017.772657  413069.0  420759.25
Regional               44.0  118347.772727   3491.849366  107305.0  116019.00
Social security funds  44.0    1940.386364     96.370462    1843.0    1876.00


                            50%        75%       max
Sector
Central                173527.5  174949.50  177641.0
Genreal                722094.5  728439.25  751954.0
Municipal              428491.5  439356.50  457033.0
Regional               119047.0  121126.25  122494.0
Social security funds    1902.0    1987.75    2147.0

"simple plot of all avalible data"